@import url(https://fonts.googleapis.com/css?family=Roboto+Mono)

.my-container{


}

.my-body{ 
    border: 1px solid burlywood;
    background-color: aliceblue;
    max-width: 600px;
    margin: 120px auto 20px auto;
    padding: 1rem;
    font-family: 'Roboto', monospace;
    font-weight: 100;
    color: rgb(151, 92, 102);
    text-align: center;

}

.my-image{
    padding: auto;
    padding-left: 1rem;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 50%;
    

}

.my-hr{
    max-width: 300px;
    border: 5px solid rgb(233, 20, 172);
}

.my-span{
    text-decoration: rgb(90, 41, 7);
    font-weight: 300;

}



/*
@media(max-width:768px){
       h1{ font-size: 20px;
       }


@media(min-width:900px)
        h1{
        font-size:70px;
    }


*/