@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
.my-container {
    background-color: aliceblue;
    
}

.my-body {
    border: 2px solid burlywood;
    
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyjk0C2pBtXOhcG6SLfebF2UU_8s4ZzCVI0H2D5a_pcfqwSS9z");
    background-size:contain ;
    max-width: 500px;
    margin-top: 100px ;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 80px;
    padding-bottom: 80px;
    font-family: 'Roboto', monospace;
    font-weight: 200;
    color:white;
    text-align: center;
}

.my-image {
    padding: auto;
    padding-left: 1rem;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 50%;
}

.my-hr {
    max-width: 300px;
    border: 3px solid rgb(233, 20, 172);
}

.my-strong {
    text-decoration: rgb(219, 107, 27);
    text-decoration-line: underline;
}

/*
@media(max-width:768px){
       h1{ font-size: 20px;
       }


@media(min-width:900px)
        h1{
        font-size:70px;
    }
*/